<div>
    <p>Room ID: {{ roomId }}</p>
</div>
<div>
    <button (click)="deleteRoom">DELETE</button>
</div>
<div>
    <button (click)="switchDoNotDisturb()">Switch Knock Knock</button>
    <button [disabled]="isDoNotDisturb" (click)="knockKnock()">Knock Knock</button>
</div>
<div>
    <p *ngIf="guest">Guest: {{ guest }} </p>
</div>
<div>
    <p>Set guest: </p>
    <input type="text" [(ngModel)]="guest">
</div>

<div>
    <app-fridge [isAvailable]="check()" (updateBottle)="updateBottleCount($event)"></app-fridge>
</div>
